<!--<form (ngSubmit)='onSubmit()' #form="ngForm" >-->
<!--  <label for='username'>Username: </label>-->
<!--  <input id='username' name='username' type='text' (blur)='user.validate()' [(ngModel)]='user.username'>-->
<!--  <span *ngIf='user.errors.username !== undefined && (form.dirty || form.submitted)'>{{user.errors.username}}</span>-->
<!--  <br>-->
<!--  <label for='password'>Password: </label>-->
<!--  <input id='password' name='password' type='password' [(ngModel)]='user.password'>-->
<!--  <br>-->
<!--  <label for='gender'>Gender</label>-->
<!--  <select id='gender' name='gender' [(ngModel)]='user.gender'>-->
<!--    <option>Male</option>-->
<!--    <option>Female</option>-->
<!--  </select>-->
<!--  <br>-->
<!--  <label for='birthDate'>Birth Date</label>-->
<!--  <input id='birthDate' name='birthDate' type='datetime-local' [(ngModel)]='user.birthDate'>-->
<!--  <br>-->
<!--  <label for='age'>Age</label>-->
<!--  <input id='age' name='age' type='number' [(ngModel)]='user.age'>-->
<!--  <br>-->
<!--  <button type='submit'>Submit</button>-->

<!--</form>-->

<!--<angular-learning-registration></angular-learning-registration>-->
<!--<mediator-parent></mediator-parent>-->
<!--<first></first>-->
<!--<second></second>-->
<counter></counter>
