<form #form="ngForm" (ngSubmit)="submitted()">
  <div>
    <input name="username" #username="ngModel" type="text" [(ngModel)]="user.username">
    <span *ngIf="user.errors.get('username') && (form.submitted)">
      {{user.errors.get('username')}}
    </span>
  </div>
  <div>
    <input name="password" #password="ngModel" type="password" [(ngModel)]="user.password">
    <span *ngIf="user.errors.get('password') && (password.touched || form.submitted)">
      {{user.errors.get('password')}}
    </span>
  </div>
  <div>
    <select name="gender" #gender="ngModel" [(ngModel)]="user.gender">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
    <span *ngIf="user.errors.get('gender') && (gender.touched || form.submitted)">
      {{user.errors.get('gender')}}
    </span>
  </div>
  <div>
    <input name="birtDate" #birthDate="ngModel" type="datetime-local" [(ngModel)]="user.birthDate">
    <span *ngIf="user.errors.get('birthDate') && (birthDate.touched || form.submitted)">
      {{user.errors.get('birthDate')}}
    </span>
  </div>
  <div>
    <input name="age" #age="ngModel" type="number" [(ngModel)]="user.age">
    <span *ngIf="user.errors.get('age') && (age.touched || form.submitted)">
      {{user.errors.get('age')}}
    </span>
  </div>
  <div>
    <button [disabled]="this.user.invalid" type="submit">Submit</button>
  </div>
</form>
